
  .info{
    display: grid;
    padding: 50px;
    margin: 100px;
    align-items: stretch;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    box-shadow: 0 0 10px rgba(118, 178, 247, 0.1);
    flex: 1;
    box-sizing: border-box;
}
.title{
  padding: 20px;
}
.certificaciones {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Centra las imágenes verticalmente */
  gap: 20px; /* Espaciado entre las imágenes */
  padding: 20px; /* Espaciado interno */
}

.imagen {
  height: 150px;
  object-fit: cover; /* Asegura que las imágenes mantengan su proporción */
  margin: 10px; /* Espaciado externo */
}


@media(max-width:768px){
  .info{
      grid-template-columns: 1fr;
      width: 100%;
      align-items: center;
      margin: 0 auto;
      justify-items: center;  
  }
}