
  
  .accordion-item {
    display: inline-flexbox; /* Alinea horizontalmente */
    width: 100; /* Ancho inicial de los divs */
    height: 100;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    transition: width 0.3s ease; /* Transición para el efecto hover */
  }
  
  .accordion-item:hover {
    width: 100%; /* Se expanden al 100% al pasar el mouse */
  }
